html.adobeguides-text-size {
	body.hitech-guides-topic-page {
		.social-share-container {
			.social-links {
				left: -250%; 
			}
		}
	}
}

html.adobeguides-text-spacing {
	body.hitech-guides-topic-page {
		.social-share-container {
			.social-links {
				left: -300%;
			}
		}
	}
}

//fsi template specific styles
body.fsi-guides-topic-page {
	.social-share-container {
	  .share-icon {
		padding: 0;
		width: 40px;
		height: 40px;
		display: flex;
		justify-content: center;
		align-items: center;
		&:hover {
		  background-color: var(--secondary-btn-color-hover);
		  border-radius: 50%;
		}
	  }
	}
}

/* manufacturing template specific styles */
body.manufacturing-guides-topic-page {
	.social-share-container {
	  .share-icon {
		padding: 0;
		width: 40px;
		height: 40px;
		display: flex;
		justify-content: center;
		align-items: center;
		&:hover {
		  background-color: var(--secondary-btn-color-hover);
		  border-radius: 50%;
		}
	  }
	}
}
