html#adobeguides-dark-contrast {
	body.hitech-guides-topic-page {
	  .home-banner {
		#section-topic {
		  background-color: transparent;
		}
	  }
	}
}
html#adobeguides-dark-contrast {
	body.hitech-guides-topic-page {
	  #section-topic {
		background-color: var(--common-bg);
	  }
	}
}

body.hitech-guides-topic-page.dark {
  .home-banner {
    #section-topic {
      background-color: transparent;
    }
  }
}
body.hitech-guides-topic-page.dark {
  #section-topic {
    background-color: var(--common-bg);
  }
}


/* fsi template specific styles */
body.fsi-guides-topic-page {
	.home-banner {
	  #section-topic {
		.copy-link-button,
		.social-share,
		.pdf-export,
		.version-selector {
		  display: block;
		}
	  }
	}

	#section-topic {
	  .copy-link-button,
	  .social-share,
	  .pdf-export,
	  .version-selector {
		display: none;
	  }
	}
}

html#adobeguides-dark-contrast {
	body.fsi-guides-topic-page {
	  .home-banner {
		#section-topic {
		  background-color: transparent;
		}
	  }
	}
}

html#adobeguides-dark-contrast {
	body.fsi-guides-topic-page {
	  #section-topic {
		background-color: var(--common-bg);
	  }
	}
}

body.fsi-guides-topic-page.dark {
  .home-banner {
    #section-topic {
      background-color: transparent;
    }
  }
}
body.fsi-guides-topic-page.dark {
  #section-topic {
    background-color: var(--common-bg);
  }
}


/* manufacturing template specific styles */
body.manufacturing-guides-topic-page {
	.home-banner {
	  #section-topic {
		.copy-link-button,
		.social-share,
		.pdf-export,
		.version-selector {
		  display: block;
		}
		.topic__updated {
		  margin-bottom: 0;
		}
	  }
	}

	#section-topic {
	  .copy-link-button,
	  .social-share,
	  .pdf-export,
	  .version-selector {
		display: none;
	  }
	  .topic__updated {
		margin-bottom: 2rem;
	  }
	}
}

html#adobeguides-dark-contrast {
	body.manufacturing-guides-topic-page {
	  .home-banner {
		#section-topic {
		  background-color: transparent;
		}
	  }
	}
}
html#adobeguides-dark-contrast {
	body.manufacturing-guides-topic-page {
	  #section-topic {
		background-color:var(--common-bg);
	  }
	}
}

body.manufacturing-guides-topic-page.dark {
  .home-banner{
  #section-topic {
    background-color: transparent; 
  }}
}
body.manufacturing-guides-topic-page.dark {
  #section-topic {
    background-color:var(--common-bg) 
  }
}


